@font-face { 
	font-family: Skarpal;
	src: url('/fonts/skarpaLt.ttf');
}

body {
	/* font-family: Skarpal; */
	height: 100%;
}
.go-back {
	color: #fff;
	font-weight: 400;
}
.course-just-text {
	text-align: justify;
}
#course-box {
	border: 1px solid #e5ffe5;
	margin-top: 15px;
}
#table-of-contents-box {
	padding-left: 15px;
	list-style-position: inside;
	border-right: dashed blue 2px;
}
#go-up-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	opacity: 0.90;
	background-color: #FFFF00;
	border: 1px solid #FFFF00;
	color: #000;
	font-size: 1.15em;
	border-radius: 5px;
}
.blog-sec {
	border-top: 1px #ff7f7f dotted;
	margin-bottom: 40px;
}
.blog-sec a {
	color: #000;
}
#resume-link a:hover {
	text-decoration: none;
}
.blog-title {
	overflow: hidden;
	vertical-align: middle;
	position: relative;
	height: 100%;
}
#quote {
	padding-top: 20px;
	font-style: italic;
	text-align: center;
}
.highlight{color: #FFFF00; font-weight: bolder;}
#post {text-align: justify;}
#post-title {text-align: center;}
#post-title-div {margin-bottom: 20px;}
#forBlog {
	margin-bottom: 20px;
}
#home-links {
	text-align: center;
	margin-bottom: 10px;
}
#home-links span:first-child {
	padding-right: 5px;
	border-right: 1px dashed grey;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -50px;
	padding: 0 0 50px;
}
#header {
	margin: 0 auto;
	height: 300px;
	background: url('../images/header_large.jpg') no-repeat center center;
}
#headerTitle {
	padding: 25px 0;
	text-align: center;
	font-weight: 800;
	background-color: #ff9c9c;
	margin-bottom: 15px;
}
.navbar-default {
	border: none;
	border-radius: 0;
}
nav.navbar {
	background: #fff;
}
nav.colorNavbar {
	background-color: #ff9c9c;
}
#headerTitle a {
	color: black;
}
.indexButtons {
	text-align: center;
	vertical-align: middle;
	color: #fff;
	height: 250px;
}
button { border: none;}
#contentAbout {
	color: black;
}
.breadcrumb {
	background-color: #fff;
}
.footer {
	text-align: center;
	vertical-align: middle;
	padding-top: 2px;
	height: 50px;
	background: #ffffff;
	color: #006400;
}
.footer span {
	margin: 10px;
}
.footer span a {
	color: #006400;
}
#about-row {
	background-color: #E70000; 
}
#about-row p {
	text-align: justify;
}
#about-row {
	color: #fff;
	padding: 10px 10px 30px 10px;
}
#black-background {
	background: #000000;
}

.intist {
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 1.25em;
	color: #fe0da6;
	font-weight: bolder;
}
.post-link{color:#fe0da6;}
a.post-link:hover{
	text-decoration:none;
	color: #6a0645
}
a.post-link:visited {color: #fe0da6;}
#posts p, .justify {
	text-align: justify;
}
#about-row h2 {
	text-align: center;
}
#navbar-links {
	
}
.navbar {
	margin-bottom: 0px;
}
.navbar-default, 
.navbar-default .navbar-toggle{
	background-color: #fff;
	border-color: #fff;
}
.navbar-default 
.navbar-toggle .icon-bar {
	background-color: #d80e0e;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: #006400;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #006400;
}
#project {
	background-color: #ff1919;
}
#about {
	background-color: #323232;
}
#tuts {	
	background-color: #464646;

}
#writings {
	background-color: #328432;
}
.stickybottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}