<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="six columns">
      <h4>Meat</h4>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-linux-plain colored colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <p><strong>My meat.</strong> What I do all day, everyday and, believe it or not, actually enjoy it. Building functional applications using PHP/Javascript and using the plethora of frameworks that are supported, has been a joy. I'm sure there will be a few articles talking about these topics.</p>
    </div>
    <div class="six columns">
      <h4>Potatoes</h4>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-react-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p><strong>My potatoes.</strong> The complements. Topics that I am not constantly and consistently exposed to but have become interested in learning. React has been on my radar for a while along with Python given my interest with data analysis (not saying Python <strong><span style="color:#ff0000">IS</span></strong> the only language used for data analysis...). Talking about these topics will be interesting.</p>
    </div>
  </div>
</div>
