<?php include('socialmediaUrls.php'); ?>
<footer class="footer">
  <div class="container">
    <div>
      <span>
        <a href="{{ site.github_username }}" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
      </span>
      <span>
        <a href="{{ site.linkedin }}" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
      </span>
      <span>
          <a href="{{ site.twitter_account }}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      </span>
    </div>
    <p>&copy;2018 RegalCoder. All rights reserved.</p>
  </div>
</footer>