<div id="top"></div>
<nav class="navbar navbar-default <?php echo $show ? 'colorNavbar' : '' ?>">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="navber-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#regal-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">RegalCoder</a>
    </div>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="regal-navbar-collapse-1">
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/lessons">Lessons</a></li>
        <li><a href="/writings">Writings</a></li>
      </ul>
    </div>
  </div>
</nav>