<div class="navbar u-full-width">
  <ul class="list-inline">
    <li><a href="{{ site.url}}">Home</a></li>
    <li><a href="{{ site.url}}/#projects">Projects</a></li>
    <li><a href="{{ site.url}}/postList.html">More Posts</a></li>
    <li class="ul-search">
      <form action="/search.html" method="get" id="search-box">
        <input type="text" id="search-input" name="term">
        <button type="submit" class="search-submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        </div>
      </form>
    </li>
  </ul>
  <div class="u-cf"></div>
</div>

<script src="{{ "/assets/js/search.js" | prepend: site.baseurl }}">
</script>
