.post-separator{
  width: 30vw;
  border-color: #ff00ff;
}
  .navbar{
  background: #1a222c;
  height: 55px;
  margin-bottom: 10px;
}
.list-inline{
  margin-bottom: 0;
  padding: 10px 20px;
  height: 35px;
  line-height: 30px;
}
#backbutton a:hover{
  cursor: progress;
}
.list-inline li{
  font-size: 12px;
  vertical-align: middle;
  display: inline;
}
.list-inline li:not(:nth-last-child(-n+2)){
  border-right: 1px solid #ffffff;
  padding-right: 5px;
}
.list-inline li a{
  color: #ff00ff;
  text-decoration: none;
}
.list-inline li a:hover{
  color: #cf00cf;
}
.ul-search{
  float:right;
}
#search-box{
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 0px;
  height: 20px;
  line-height: 15px;
  position: relative;
}
.search-submit{
  position: absolute;
  right: 0;
  padding: 0 5px 0 0;
}
.search-submit:hover {
  color: #2ecc71;
}
#search-input{
  position: relative;
  width: 87%;
  padding:0;
}
#search-input,.search-submit{
  height: inherit;
  line-height: inherit;
  margin:0px;
  font-size: 14px;
  border: none;
  color: #fff;
  background: none;
}
