<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div id="wrap">
			<main class="container-fluid" role="main">  
        <div class="row">
            <div id="header" class="col-xs-12">
            </div>
        </div>
        <div class="row">
          <div class='col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1'>
            {%- include nav-breadcrumbs.html -%}
            {{ content }}
          </div>
        </div>
      </main>
    </div>

    {%- include footer.html -%}

  </body>

</html>
