<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div id="wrap">
      <div class="container-fluid">  
        {%- include header.html -%}
        <div class="row">
          <div class='col'>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-12 col-md">
                  {%- include nav-breadcrumbs.html -%}
                  {{ content }}
                </div>
                <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%- include footer.html -%}
  </body>

</html>
