---
layout: default
description: Regalcoder blog site for tech related commentary affecting the african diaspora and african homeland communities.
---

<div class="row">
<a href='/projects' >
	<button id="project" class="indexButtons col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<h2>Projects</h2>
	</button>
</a>
<a href='/about' >
	<button id="about" class="indexButtons col-lg-4 col-md-6 col-sm-6 col-xs-12">
		<h2>About RegalCoder?</h2>
	</button>
</a>
<a href='/writings' >
	<button id="writings" class="indexButtons col-lg-4 col-md-12 col-sm-12 col-xs-12">
		<h2>Writings</h2>	
	</button>
</a>