<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include navbar.html %}
      <div class="container">
        <div class="row">
          <span id="backbutton"><a onclick="window.history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></span>
          <div style="clear:both"></div>
          <div class="ten columns post-body">
            <div class="post-title" >
              <h3> {{page.title}} </h3>
              <p class="p-subtitle"> {{page.subtitle}}</p>
            </div>
            {{ content }}
            {% include share.html %}
          </div>
        </div>
      </div>
      {% include footer.html %}
  </body>
